:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}


* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    background-color: white;

}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f3f9;
    min-height: 200vh;
}

.sidebar {
    width: 250px;
    z-index: 1000;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
    overflow: hidden;


}

.sidebar.collapsed {
    width: 70px;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 23px;
    color: #333;
    background-color: #ddd;
    padding: 1px 3px;
}

.sidebar .toggle-btn:hover {
    background-color: #eee;
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.sidebar h3::before,
.sidebar h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;

}

.sidebar h3::before {

    width: 170px;
    height: 2px;
    bottom: -80%;


}

.sidebar h3::after {

    bottom: -118%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid white;

}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar ul li {
    margin: 3px 0;
    width: 100%;
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 10px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f1f3f9;

}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

.sidebar.collapsed span {
    opacity: 0;
    margin-left: -100%;
}

.sidebar.collapsed h3 {
    display: none;
}

.sidebar.collapsed h3::before,
.sidebar.collapsed h3::after {
    display: none;
}

.sidebar.collapsed ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar.collapsed ul li {
    margin: 4px 0;
    width: 100%;
}

.sidebar.collapsed ul li .active {
    margin: 30px 0;
    width: 100%;
}

@media (max-width: 767px) {

    .sidebar {
        width: 70px;
        padding: 10px;
    }

    .sidebar h3 {
        font-size: 8px;
        margin-bottom: 15px;
    }

    .sidebar h3::before,
    .sidebar h3::after {
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }


}

/* start contant */

.contant {
    overflow: hidden;
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: var(--grey-color);

}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 5px;
    padding-left: 40px;
    width: 200px;
    height: 30px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 220px;
}

.head .search input:focus::placeholder {
    opacity: 0.4;
}

.head .icon .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -4px;

}

.head .icon img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.page h1 {
    margin: 10px 10px 40px;
}

.contant h1::before,
.contant h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 4px;
}


.contant h1::before {
    background-color: white;
    width: 150px;
}

.contant h1::after {
    background-color: black;
    width: 50px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}


/* end contant */

/* start welcome wetget */

.welcome {
    overflow: hidden;
}

.welcome img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .body {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.welcome .body>div {
    flex: 1px;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.6s ease;

}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
    transform: scale(1.05);
}


.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }

}

/* end welcome wetget */
/* start Quick Draft widget */
.quick-draft textarea {
    resize: none;
    min-height: 180px;

}

.quick-draft .save {
    margin-left: auto;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
    transform: scale(1.05);
}

/* end Quick Draft widget */

/* start targets */
.target .target-row .icons {
    width: 80px;
    height: 80px;
    margin-right: 15px;

}

.target .target-row .icons i {
    position: absolute;
    left: 30px;
}

.target .detalis {

    flex: 1;
}

.target .detalis .progress {
    height: 4px;
}

.target .detalis .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.target .detalis .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 12px;
}

.target .detalis .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.target .detalis .progress .blue span::after {
    border-top-color: var(--blue-color);
}

.target .detalis .progress .orange span::after {
    border-top-color: var(--orange-color);
}

.target .detalis .progress .green span::after {
    border-top-color: var(--green-color);
}

.blue .icons,
.blue .progress {
    background-color: rgb(0 117 225 /20%);
}

.orange .icons,
.orange .progress {
    background-color: rgb(245 158 11 /20%);
}

.green .icons,
.green .progress {
    background-color: rgb(34 197 94 /20%);
}

/* end targets */

/* start tickets */
.Tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width: 767px) {
    .Tickets .box {
        width: 100%;
    }
}

/* end tickets */

/* start letest news */
.letest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.letest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

.letest-news .news-row .info {
    flex-grow: 1;
}


.letest-news .news-row .info h3 {
    margin: 0 0 5px;
    font-size: 15px;
}

@media (max-width: 767px) {
    .letest-news .news-row {
        display: block;
    }

    .letest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;

    }

}

/* end letest news */
/* start tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


.tasks .Done {
    opacity: 0.5;
}

.tasks .Done h3,
.tasks .Done p {
    text-decoration: line-through;
}

.tasks .task-row .Delet {
    cursor: pointer;
    transition: 0.3s ease;
}

.tasks .task-row .Delet:hover {
    color: var(--red-color);
}

/* end tasks */

/* start top search */
.search-items div:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

}

/* end top search */
/* start latest upload */
.latest-upload ul li:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.latest-upload ul li img {
    width: 40px;
    height: 40px;

}

/* end latest upload */
/* start current project */
.current-project ul::before {
    content: '';
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}

.current-project ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;

}

.current-project ul li.Done::before {
    background-color: var(--blue-color);

}

.current-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.current-project .lunch-icon {
    position: absolute;
    width: 140px;
    right: 0;
    bottom: 0;
    opacity: 0.6;

}

/* end current project */
/* start Reminder */
.reminder ul li .key {
    width: 15px;
    height: 15px;
}

.reminder ul li>.blue {
    border-left: 2px solid var(--blue-color);
}

.reminder ul li>.green {
    border-left: 2px solid var(--green-color);
}

.reminder ul li>.orange {
    border-left: 2px solid var(--orange-color);
}

.reminder ul li>.red {
    border-left: 2px solid var(--red-color);
}

/* end Reminder */
/* start latest post */
.latest-post .avatar {
    width: 50px;
    height: 50px;
}

.latest-post .post-contant {
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}

/* end latest post */
/* start social media  */
.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;

}

.social-media .box i:hover {
    transform: rotate(5deg);
}

.social-media .twitter {
    background-color: rgb(29 161 242 /20%);
    color: #1da1f2;

}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

.social-media .facebook {
    background-color: rgb(24 119 242/20%);
    color: #1877f2;

}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .youtube {
    background-color: rgb(255 0 0 /20%);
    color: #ff0000;

}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}

.social-media .linkedin {
    background-color: rgb(10 102 194 /20%);
    color: #0a66c2;

}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0a66c2;
}

/* end social media  */
/* start project table */
.project-table .responsive-table {
    overflow-x: auto;

}

.project-table table {
    min-width: 1000px;
    border-spacing: 0;
}

.project-table thead td {
    background-color: #eee;
    font-weight: bold;
    padding: 15px;

}

.project-table tbody td {
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
    padding: 15px;
}

.project-table tbody .label {
    font-size: 13px;
}

.project-table table tbody tr:hover td {
    background-color: #faf7f7;
}

.project-table table tbody tr td:last-child {
    border-right: 2px solid #eee;
}

.project-table table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.project-table table img:not(:first-child) {
    margin-left: -20px;
}

/* end project table */

/* start Setting-page */
.Setting-page {
    grid-template-columns:repeat(auto-fill, minmax(450px, 1fr));
    
}

.Setting-page .site-control .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;

}
.Setting-page .General-info .email {
    display: inline-flex;
    width: calc(100% - 80px);

}

.Setting-page .Security-box .sec-box {
    padding-bottom: 10px;
}

.Setting-page .Security-box .sec-box .button {
    transition: 0.3s;

}

.Setting-page .sec-box .button:hover {
    background-color: var(--blue-alt-color);
}

.Setting-page .Security-box .sec-box:not(:last-of-type) {
    border-bottom: 1px solid #EEE;

}

.Setting-page .SocialMedia i {
    width: 60px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s ease;
}

.Setting-page .SocialMedia input {
    background-color: #f6f6f6;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
    padding-left: 18px;

}

.Setting-page .SocialMedia > div:focus-within i {
    color: black;
}

.Setting-page .Widgets-control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

.Setting-page .Widgets-control label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    
}

.Setting-page .Widgets-control label::before, 
.Setting-page .Widgets-control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;

}

.Setting-page .Widgets-control label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
}

.Setting-page .Widgets-control label:hover::before {
    border-color: var(--blue-alt-color);
}

.Setting-page .Widgets-control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s ease;

}

.Setting-page .Widgets-control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}


.Setting-page .packup-control  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.Setting-page .packup-control .data label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.Setting-page .packup-control .data label::before,
.Setting-page .packup-control .data label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
}

.Setting-page .packup-control .data label::before {
    width: 18px;
    height: 18px;
    border: 1px solid var(--grey-color);
    border-radius: 50%;

}

.Setting-page .packup-control .data label:hover::before {
    border-color: var(--blue-color);
} 

.Setting-page .packup-control .data label::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: var(--blue-color);
    border-radius: 50%;
    left: 3px;
    top: 14px;
    transition: 0.3 ease;
    transform: scale(0);

}

.Setting-page .packup-control .data input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);

}

.Setting-page .packup-control .data input[type="radio"]:checked + label::after {
    transform: scale(1);
}


.Setting-page .packup-control .Servers {
    border-top: 2px solid #eee;
    padding-top: 20px;

}

@media (max-width: 767px) {
    .Setting-page .packup-control .Servers {
        flex-wrap: wrap;
    }
}

.Setting-page .packup-control .Servers .Server {
    position: relative;
    border: 1px solid var(--grey-color);

}

.Setting-page .packup-control .Servers .Server label{
    cursor: pointer;
}

.Setting-page .packup-control .Servers input[type="radio"]:checked + .Server {
    border-color: var(--blue-alt-color) ;
    color: var(--blue-color);
}


@media (max-width: 767px) {
    .Setting-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.Setting-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #BBB;
}
/* end Setting-page */

/* start toggle */
.checkbox-toggle {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.4s ease;

}

.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.checkbox-toggle:checked + .toggle-switch {
    background-color: var(--blue-color);
}

.checkbox-toggle:checked + .toggle-switch::before {
    content: "\f00c";
    color: var(--blue-color);
    left: 50px;

}
/* end toggle */
/* start animation */
@keyframes change-color {
    from {
        background-color: var(--blue-alt-color);
    }

    to {
        background-color: white;
    }
}

/* end animation */